# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Plugin directory
/.quarkus/cli/plugins/

[Bb]uild/
.idea/
javadoc/
docs/source/casual-docs/
docs/source/version
*.iml
*.class
*.jar
.gradle/
# emacs #
*~
*.orig
dist/
out/
gradle.properties
secret.*
